body{
    background-color: #e84545;
    width: 98vw;     
    height: 99vh;     
    border: 1px solid white; 
    padding: 100px 50px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:100px;
}

.container{
background-color: white;
display: flex;
box-shadow: 5px 5px 5px black;
border-radius: 10px;
flex-direction: column;
justify-content:  flex-start;
align-items: flex-start;
width: 420px;

}

.aniversario{
    display: flex;
    flex-direction: row;
    margin-top: 20px ;
    margin-bottom: 20px;
}

img{
height:55px ;
width: 55px ;
border-radius: 30px;
margin-left: 10px;


}

h1{
 margin-left: 25%;
}

.aniversario h3{
    color:black;
    opacity: 80%;
    margin-left: 5px;
    
}
.idade{
    color: darkred;
    margin-left: 5px;
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 400px;
    margin-top:20px;
    margin-bottom: 15px;
    height: 35px;
    background-color:#e84545;
    opacity: 95%;
    border-radius: 30px;
    text-align: center

}

